*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #4D4D4D;
}
body{
    background: linear-gradient(to right, #4469cc, #b0eaff);
}
.page-wrapper{
    height: 0;
}
.clear{
    clear: both;
}
.modal-upload-files{
    width: 524px;
    height: 470px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 60px rgba(0, 0, 0, 0.3);
    padding: 24px;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.modal-upload-files .close-modal{
    font-size: 24px;
    position: absolute;
    right: 16px;
    top: 16px;
}
.modal-upload-files .close-modal:hover{
    cursor: pointer;
}
.modal-upload-files h1{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 24px 0;
    line-height: 28px;
}
#upload-btn, #continue-upload-btn{
    display:none
}
.drop-area{
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    border-style: dashed;
    text-align: center;
    padding: 64px;
}
.drop-area h4{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 0;
    line-height: 28px;
}
.drop-area p{
    color: #C3C3C3;
    font-size: 14px;
    margin: 0;
    line-height: 16px;
}
.drop-area a{
    color: #C3C3C3;
}
.drop-area a:hover{
    color: #4D4D4D;
}
.drop-area.active-drag{
    border-color: #5BBAF7;
}
.drop-area.active-drag *{
    pointer-events: none;
}
.icons-container{
    margin-bottom: 58px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/bg/elipse.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0.955);
    transition: all 0.3s ease;
}
.drop-area.active-drag .icons-container{
    transform: scale(1);
}
.icons-container .wrapper{
    position: relative;
}
.drop-area .icons-container img{
    width: 43px;
    position: relative;
    transition: all 0.3s ease;
}
.icons-container .jpg{
    transform: rotate(-15deg) translate(-7px, 6px);
}
.drop-area.active-drag .icons-container .jpg{
    transform: rotate(-20deg) translate(-16px, -4px);
}
.icons-container .pdf{
    transform: rotate(15deg) translate(7px, 6px);
}
.drop-area.active-drag .icons-container .pdf{
    transform: rotate(20deg) translate(16px, -4px);
}
.drop-area.active-drag .icons-container .doc{
    transform: translate(0px, -8px);
}
.uploaded-files{
    height: 292px;
    overflow: auto;
    padding-right: 8px;
    margin-bottom: 40px;
}
.uploaded-files .file-wrapper{
    border-bottom: 1px solid #C3C3C3;
    padding: 16px 0;
}
.uploaded-files .file-wrapper p{
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    width: 80%;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.uploaded-files .file-wrapper .remove-file{
    font-size: 20px;
    float: right;
}
.uploaded-files .file-wrapper .remove-file:hover{
    cursor: pointer;
}
.progress-container{
    width: 100%;
}
.progress-container .progress-bar{
    width: 1%;
    height: 4px;
    border-radius: 4px;
    background-color: #5BBCF8;
    border: 1px solid #5AA4E0;
}
.btn-wrapper{
    display: flex;
    justify-content: flex-end;
}
.btn-wrapper .btn{
    text-decoration: none;
    font-size: 14px;
    border: 1px solid;
    border-color: #5AA4E0;
    border-radius: 4px;
    padding: 11px;
    line-height: 14px;
    transition: all ease 0.3s;
    display: inline-block;
}
.btn-wrapper .upload_link{
    color: #5AA4E0;
}
.btn-wrapper .upload_link:hover{
    border-color: #577fa0;
    color: #577fa0;
}
.btn-wrapper .ready-btn{
    color: #fff;
    background-color: #5BBCF8;
    margin-left: 8px;
}
.btn-wrapper .ready-btn:hover{
    background-color: #72b2e6;
}
::-webkit-scrollbar{
    width: 8px;
    transition: all ease 0.3s;
}
::-webkit-scrollbar-thumb{
    background: rgba(195, 195, 195, 0.259);
    opacity: 0.3;
    border-radius: 10px;
    transition: all ease 0.3s;
}
::-webkit-scrollbar-thumb:hover{
    background: #c3c3c3;
}
